# Dependencies
node_modules/
package-lock.json

# Production build
dist/

# Android build outputs & local caches
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.apk
*.aab

# OS & Temp files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
